[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
plotly = "*"
gunicorn = "*"
dash-bootstrap-components = "*"
pandas = "*"
kaggle = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.8"
